h2 {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 20px;
}


.flex {
  display: flex;
}

.flex1 {
  display: flex;
}

.flex2 {
  display: flex;
}

.jumbotron {
  width: 600px;
  background-color: rgba(253, 0, 0, 0.25);
  border: red 5px dotted;
  padding: 15px 40px;
}

.jumbotron input {
  width: 400px;
}

.jumbotron p {
  font-size: 16px;
  font-weight: bold;
  margin-top: 17px;
  margin-right: 100px;
}

.top {

  font-weight: bold;
}

.top a {
  font-size: 26px;
}

.navbar-header {
  padding-left: 350px;
}

.comment {
  padding: 20px 0 0 0;
}



.star-rating {
  font-size: 0;
  white-space: nowrap;
  display: inline-block;
  width: 250px;
  height: 50px;
  overflow: hidden;
  position: relative;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
}

.star-rating i {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 20%;
  z-index: 1;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
}

.star-rating input {
  -moz-appearance: none;
  -webkit-appearance: none;
  opacity: 0;
  display: inline-block;
  width: 20%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
  position: relative;
}

.star-rating input:hover+i,
.star-rating input:checked+i {
  opacity: 1;
}

.star-rating i~i {
  width: 40%;
}

.star-rating i~i~i {
  width: 60%;
}

.star-rating i~i~i~i {
  width: 80%;
}

.star-rating i~i~i~i~i {
  width: 100%;
}

.submit {
  padding-top: 20px;
  text-align: center;
}

.submit input {
  width: 200px;
  height: 40px;
  background-color: rgba(255, 0, 0, 0.726);
  color: whitesmoke;

}


.amazon {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding-left: 40px;
}

.book_link {
  width: 200px;
}

.book_link a {
  color: blue;
}

.book_item {
  padding: 15px;
}

.select {
  padding-left: 950px;
}

.select input {
  background-color: rgba(255, 0, 0, 0.726);
  color: white;

}

footer {
  background-color: gray;
  color: whitesmoke;
  height: 60px;
  text-align: center;
  padding-top: 20px;
}

div {
  padding: 10px;
  font-size: 16px;
}

/* 
====================================================================== */
@media screen and (max-width: 480px) {
  body {
    width: 100%;
  }

  div {
    padding: 0px;
    font-size: 14px;
  }

  /* .navbar-brand {
    width: 350px;

  } */

  .top a {
    font-size: 18px;
  }

  .navbar-header {
    padding: 0;
    margin: 0;
    font-size: 14px;
  }

  .navbar-header2 {
    padding: 0;
    margin: 0;
    font-size: 14px;
  }

  h2 {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 20px;
  }


  .flex1 {
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 14px;
  }

  .flex2 {
    display: flex;
    margin: 0 5px;
  }

  .memo {
    margin: 0 auto;
    padding: 10px;
    font-size: 14px;
    width: 570px;
  }



  .jumbotron {
    width: 60%;
    background-color: rgba(253, 0, 0, 0.25);
    border: red 5px dotted;
    padding: 15px 40px;
  }

  .jumbotron input {
    width: 170px;
  }

  .jumbotron p {
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    margin-right: 100px;
  }

  fieldset label {
    font-size: 14px;
  }


  .comment textArea {
    width: 250px;
  }

  .time {
    color: gray;
    font-size: 12px;
    text-align: right;
    padding-right: 7px;
    padding-top: 7px;
  }

  .flex {
    display: flex;
    flex-direction: column;
  }


  .amazon {
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 0px;
    padding-left: 20px;
  }

  .book_item {
    padding: 10px;
  }

  .book_link {
    width: 150px;
    padding: 5px;
  }

  .select {
    padding-left: 750px;
  }

  .book_select {
    width: 300px;
  }

  .select {
    padding-left: 50px;
  }

  .select input {
    background-color: rgba(255, 0, 0, 0.726);
    color: white;
    margin-top: 10px;
  }

  #ranking {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 20px;


    margin: 0 auto;
  }


}